API_ID=12857763
API_HASH=7b71e8bca0d5e1c6d8383ae818d9ec8d
BOT_TOKEN=6502266413:AAGi1lyIkhuLYUDDjBqEA2TT-hDJwT2aKOo
OWNER_ID=1948147616
MONGO_DB_URI=mongodb+srv://doadmin:K90G2U3H5Pk4g81R@mongodb-arab2-e696a84d.mongo.ondigitalocean.com/admin?authSource=admin&tls=true
